<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Аутентификация</title>
</head>

<body>

	<h1>Введите данные</h1>

	<form name="authForm" , action="/auth">
		<label>Логин</label></br>
		<input type="text" name="userLogin" /></br></br>
		<label>Пароль</label></br>
		<input type="text" name="userPassword" /></br></br>
		<button type="submit" id="submit">Отправить</button>
	</form>
</body>

</html>